<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django{% endblock title %}</title>
</head>
<body>
    <h1>{% block ueberschrift %}Überschrift{% endblock ueberschrift %}</h1>
    <p>{% block begruessung %}Begrüßung{% endblock begruessung %}</p>
    <p>{% block content %}Inhalt{% endblock content %}</p>
    <p>Copy by Moerlisoft 2023 </p>
</body>
</html>